.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 30px;
  margin-bottom: 10rem;
  width: 50%;
  align-items: left;
}

input:focus {
  outline: 1;
  box-shadow: none;
  border-color: transparent;
  color: white;
}

input[type=text] {
  width: 100%;
  padding: 12px;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}

textarea {
  width: 100%;
  resize: vertical;
  padding: 15px;
  border-radius: 15px;
  border: 2;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  height: 150px;
}

textarea:focus {
  outline: 0;
  border: 2;
}

input[type=submit] {
  background-color: rgb(69, 79, 89);
  color: white;
  width: 30%;
  padding: 12px 20px;
  border: 2px solid rgb(69, 79, 89);
  border-radius: 45px;
}

input[type=submit]:hover {
  background-color: #0564bd;
  color: white;
  cursor: pointer;
}

label {
  color: rgb(69, 79, 89);
}

.download {
  text-decoration: none;
  color: rgb(5, 100, 189);
  font-size: 1.2rem;
  padding: 0.4rem 0.9rem;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  border: 1px solid #0564bd;
  transition: 0.5s;
}

.download:hover {
  background: #0564bd;
  color: rgb(255, 255, 255);
}

.about-me {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .form {
    width: 100%;
    align-items: left;
  }

  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .download {
    width: 60%;
    padding: 6px;
  }

  .about-me {
    flex-direction: column;
  }
}
