.menu-item {
  text-decoration: none;
  color: #3d90e3;
}

.menu-item:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .menu-control-container {
    display: none !important;
  }

  .menu {
    display: flex;
    position: relative;
    right: inherit;
    flex-direction: row;
    gap: 32px;
    justify-content: space-between;
  }

  .menu-item-container {
    display: flex;
    gap: 50vh;
  }

  .portfolio-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 24px;
  }
}
