* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Space Grotesk, sans-serif;
}

html {
  font-size: 92.5%;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.home-container {
  margin: 0 10px 0 10px;
  padding: 0.8rem;
}

.intro {
  width: 100%;
  text-align: left;
}

.BgAnimation__svg {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 50%;
  z-index: -1;
}

.details-img {
  border-radius: 10px;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: -12rem;
  width: 100%;
  padding: 4%;
  height: 35vh;
  color: #3d90e3;
  background-color: #ddd;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  background: white;
  height: 5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-collapse {
  background: white;
  font-size: 18px;
}

.nav-link {
  color: #444f5a;
  display: inline-block;
  position: relative;
}

.nav-link:hover {
  color: #0564bd;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0564bd;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0564bd;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.social-icon {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  gap: 2rem;
}

.social {
  color: #444f5a;
  transition: transform 1s;
}

.social:hover {
  color: #0564bd;
  transform: scale(1.5);
}

.curtain img {
  display: none;
}

@media screen and (min-width: 768px) {
  .details-img {
    width: 60%;
  }

  .home-container {
    margin: 6% 7% 0 7%;
  }

  .social-icon {
    margin-top: 0;
    border-top: 0;
  }

  .curtain img {
    display: flex;
    border-radius: 20% 61% 21% 92% / 30% 51% 11% 32%;
  }

  /* .hero {
    border: 2px solid blue;
  } */
}
