* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Space Grotesk, sans-serif;
}

html {
  font-size: 92.5%;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.home-container {
  margin: 0 10px 0 10px;
  border: 2px solid rgba(5, 100, 189, 0.06);
  box-shadow: 4px 4px 10px rgba(5, 100, 189, 0.06);
  padding: 0.8rem;
}

/* .social-icon {
  color: #454f59;
  border-radius: 50px;
}

.social-icon:hover {
  background-color: rgb(5, 100, 189);
  cursor: pointer;
} */

.intro {
  width: 100%;
  text-align: justify;
}

.BgAnimation__svg {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 50%;
}

.details-img {
  border-radius: 10px;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: -12rem;
  width: 100%;
  padding: 4%;
  height: 35vh;
  color: #3d90e3;
  background-color: #ddd;
}

@media screen and (min-width: 768px) {
  .details-img {
    width: 60%;
  }

  .home-container {
    margin: 0 7% 0 7%;
  }
}
