* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
}

.social-icon {
  transition: 0.3s ease;
  color: #3d90e3;
  border-radius: 50px;
  padding: 4px;
}

.social-icon:hover {
  background-color: #dcdddd;
  transform: scale(1.1);
  cursor: pointer;
}

.menu-item {
  text-decoration: none;
  color: #3d90e3;
}

.menu-item:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .menu-control-container {
    display: none !important;
  }

  .menu {
    display: flex;
    position: relative;
    right: inherit;
    flex-direction: row;
    gap: 32px;
    justify-content: space-between;
  }

  .menu-item-container {
    display: flex;
    gap: 380px;
  }

  .portfolio-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 24px;
  }
}
